body {
  background-image: url(img/blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-color {
  background-color: black !important;
}

nav h2 {
  color: #f0a422;
  font-family: serif;
}

.li-color {
  color: #f0a422;
}

.navlink,
.footer-color {
  color: #f0a422 !important;
}

.halal-items .card {
  background: black !important;
  color: #f0a422;
}

.services-title {
  color: #f0a422;
}
.services-color,
.footer-color {
  background: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f0a422 !important;
}

.clearfix-manual {
  clear: both;
}

.bg-slider {
  background: black;
}

@media (max-width: 568px) {
  nav h2 {
    font-size: 16px;
    font-weight: 300;
  }
  .carousel-mobile {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  nav h2 {
    font-size: 20px;
    font-weight: 400;
    margin-right: 15px;
  }
  nav img {
    width: 45px;
    height: 45px;
  }
}

/* Large devices (desktops) */

@media (min-width: 992px) {
  .logo1 {
    background-image: url(img/nubian.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 13% 0% 0% -15%;
    height: 170px;
    width: 170px;
    clear: both;
    float: left;
  }

  .logo2 {
    background-image: url(img/nubian.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -18% -12% 0% -13%;
    height: 170px;
    width: 170px;
    clear: both;
    float: right;
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
  .logo1 {
    background-image: url(img/nubian.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 13% 0% 0% -15%;
    height: 200px;
    width: 200px;
  }

  .logo2 {
    background-image: url(img/nubian.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -18% -12% 0% -13%;
    height: 200px;
    width: 200px;
    clear: both;
    float: right;
  }
}
